/* Full Page Background */
body{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;

    /* Dark overlay for background image */
    background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("login2.jpg");
    

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Login Box */
.login-box{
    width:350px;
    padding:40px;

    /* Dark glass effect */
    background: rgba(0,0,0,0.65);
    backdrop-filter: blur(12px);

    border-radius:15px;
    text-align:center;
    color:white;

    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

/* Heading */
.login-box h1{
    margin-bottom:10px;
}

/* Inputs Normal */
.login-box input{
    width:100%;
    padding:12px;
    margin:10px 0;

    border:2px solid transparent;
    border-radius:8px;

    outline:none;

    background: rgba(255,255,255,0.9);

    transition: 0.3s;
}

/* Inputs Focus Highlight */
.login-box input:focus{
    border:2px solid #00c6ff;

    box-shadow:
        0 0 5px #00c6ff,
        0 0 10px #00c6ff;

    background: white;
}

/* Button */
.login-box button{
    width:100%;
    padding:12px;

    border:none;
    border-radius:8px;

    background:#00c6ff;
    color:white;
    font-size:16px;

    cursor:pointer;
    transition:0.3s;
}

/* Button Hover */
.login-box button:hover{
    background:#0072ff;
    transform: scale(1.03);
}


